::-webkit-scrollbar{
  display: none;
}

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
@font-face {
  font-family: adam;
  src: url(font/adam.otf);
}
@font-face {
  font-family: caviar;
  src: url(font/caviar.ttf);
}
*:hover{
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
h1{float:left; width:100%; color:#232323; margin-bottom:30px; font-size: 14px;}
h1 span{font-family: 'Libre Baskerville', serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px; font-weight:700}
h1 a{color:#131313; font-weight:bold;}

:root {
  --font-default: caviar;
  --font-primary: adam;
  --font-secondary: "Cardo", sans-serif;
}

:root {
  --color-default: #fafafa;
  --color-primary: #412a7a;
  --color-secondary: #161718;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-default);
  color: var(--color-default);
  background: linear-gradient(to top, rgba(8, 8, 8, 0.5), rgba(10, 10, 10, 0.6)),  url(../bg.jpg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-default);
  text-decoration: none;
  transition: 1.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

h3 .section-sub-title{
  color: whitesmoke;
}

/*--------------------------------------------------------------
# Page Header
--------------------------------------------------------------*/
.page-header {
  padding: 120px 0 60px 0;
  min-height: 30vh;
  position: relative;
}

.page-header h2 {
  font-size: 56px;
  font-weight: 500;
  color: #fff;
  font-family: var(--font-secondary);
}

@media (max-width: 768px) {
  .page-header h2 {
    font-size: 36px;
  }
}

.page-header p {
  color: rgba(255, 255, 255, 0.8);
}

.page-header .cta-btn {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 4px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s;
  color: #fff;
  background: var(--color-primary);
}

.page-header .cta-btn:hover {
  background: var(--color-primary);
}

/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: -15px;
  z-index: 99999;
  background: var(--color-primary);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--color-default);
  line-height: 0;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
  bottom: 15px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 30px 0;
  position: fixed;
  background: linear-gradient(to top, rgba(8, 8, 8, 0.5), rgba(10, 10, 10, 0.6)),  url(../bg.jpg);
}

.header .logo {
  transition: 0.3s;
}

.header .logo{
  
}

.header .logo img {
  max-height: 40px;
  margin-right: 8px;
}

.header .logo h1 {
  font-size: 32px;
  margin: 0;
  font-weight: 400;
  color: var(--color-default);
  font-family: adam;
}

.header .logo h1:hover{
  color: var(--color-primary);
  font-size: 2em;
}

.header .logo i {
  font-size: 32px;
  margin-right: 8px;
  line-height: 0;
}

@media (max-width: 575px) {
  .header .logo h1 {
    font-size: 26px;
  }

  .header .logo i {
    font-size: 24px;
  }
}

.header .header-social-links {
  padding-right: 15px;
}

.header .header-social-links a {
  color: rgba(255, 255, 255, 0.5);
  padding-left: 15px;
  display: inline-block;
  line-height: 0px;
  transition: 0.3s;
  font-size: 16px;
}

.header .header-social-links a:hover {
  color: var(--color-default);
}

@media (max-width: 575px) {
  .header .header-social-links a {
    padding-left: 5px;
  }
}

@media (min-width: 1280px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: var(--font-primary);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: var(--color-default);
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: var(--color-secondary);
    transition: 0.3s;
    border-radius: 4px;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: var(--color-default);
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (min-width: 1280px) {

  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

@media (max-width: 1279px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 0 10px 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.9);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: var(--font-primary);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 1px;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: var(--color-default);
  }

  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: 10px 0;
    margin: 10px 20px;
    transition: all 0.5s ease-in-out;
    border: 1px solid black;
  }

  .navbar .dropdown>.dropdown-active,
  .navbar .dropdown .dropdown>.dropdown-active {
    display: block;
  }

  .mobile-nav-show {
    color: var(--color-default);
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9999;
    margin: 0 10px 0 10px;
  }

  .mobile-nav-hide {
    color: var(--color-default);
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .navbar {
    right: 0;
  }

  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(22, 23, 24, 0.8);
    z-index: 9996;
  }
}

.programmer {
  margin-top: 80px;
}

.section-header h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.section-header h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--color-primary);
  margin: 4px 10px;
}

/*--------------------------------------------------------------
# Programmer Section
--------------------------------------------------------------*/

.programmer .programmer-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 40px 30px;
  background: var(--color-secondary);
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
}

.programmer .programmer-item .programmer-img {
  width: 90px;
  border-radius: 50%;
  border: 5px solid #474a4d;
  margin: 0 auto;
}

.programmer .programmer-item h3 {
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: var(--color-default);
  font-family: var(--font-default);
  letter-spacing: 2px;
}

.programmer .programmer-item h4 {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}

.programmer .programmer-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.programmer .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.programmer .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 1;
}

.programmer .swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 0.5);
}

.programmer .swiper-slide {
  opacity: 0.3;
}

@media (max-width: 1199px) {
  .programmer .swiper-slide-active {
    opacity: 1;
  }

  .programmer .swiper-pagination {
    margin-top: 0;
  }

  .programmer .programmer-item {
    margin: 40px 20px;
  }
}

@media (min-width: 1200px) {
  .programmer .swiper-slide-next {
    opacity: 1;
    transform: scale(1.12);
  }
}

.gallery {
  margin-top: 40px;
}

.gallery a{
  padding: 5px 20px;
  transform: translate(0%, -100%);
  width: 100%;
  color: var(--color-default);
}

.gallery .gallery-item,
.gallery .gallery-items {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.search-wrapper{
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 30px;
}

.search-wrapper .search-card{
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--color-default);
}

.search-card input{
  width: 400px;
  padding: 10px 20px;
  outline: 0;
  background: transparent;
  border: none;
  color: var(--color-default);
  margin-right: 10px;
  text-align: start;
}

.search-card i{
  font-size: 25px;
}

::placeholder{
  letter-spacing: 2px;
}

.info-contain{
  flex-direction: column;
  justify-content: center;
  display: flex;  
  position: relative;
  padding-top: 30px;
}

@media screen and(max-width: 575px) {
  .info-contain{
    display: block;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
  }
}

.info-contain .link-info{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.info-contain .link-info a{
  padding: 5px;
  font-weight: 800;
  font-family: var(--font-primary);
}

.info-contain .link-info p{
  font-size: 18px;
  color: var(--color-default);
}

.info-contain .link-info img{
  width: 70px;
  position: relative;
}

.info{
  width: 100%;
}

.info details{
  display: flex;
  width: 100%;
}

details > summary {
  list-style: none;
}

.info summary{
  outline: 0;
  font-size: 18px;
  color: var(--color-default);
  border-bottom: 1px solid var(--color-default);
  padding: 5px;
}

.info .question{
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.question .button-down{
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.question img{
  width: 200px;
  padding: 10px;
}

.question .image-question{
  text-align: center;
}

.info-text{
  color: var(--color-default);
  border-left: 3px solid var(--color-default);
  font-size: 16px;
  margin-left: 30px;
  margin-top: 30px;
  padding-left: 10px;
}

.ig-link{
  padding: 0;
  border: none;
  background: transparent;
  color: var(--color-default);
  margin: 0;
}

.ig-link i{
  font-size: 14px;
}

.gallery .gallery-item img {
  transition: 0.3s;
  opacity: 0.2;
}

.gallery .gallery-items img{
  transition: 0.3s;
  opacity: 0.5;
}

.gallery .gallery-links {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.gallery .gallery-links .preview-link,
.gallery .gallery-links .details-link {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
  line-height: 1.2;
  margin: 30px 8px 0 8px;
}

.gallery .gallery-links .preview-link:hover,
.gallery .gallery-links .details-link:hover {
  color: var(--color-default);
}

.gallery .gallery-links .details-link {
  font-size: 30px;
  line-height: 0;
}

.gallery .gallery-item:hover .gallery-links {
  opacity: 1;
}

.gallery .gallery-item:hover .preview-link,
.gallery .gallery-item:hover .details-link,
.gallery .gallery-items:hover .preview-link,
.gallery .gallery-items:hover .details-link {
  margin-top: 0;
}

.gallery .gallery-item:hover img{
  transform: scale(1.05);
}

.gallery .gallery-items:hover img{
  transform: scale(1.1);
}

.glightbox-clean .gslide-description {
  background: #222425;
}

.glightbox-clean .gslide-title {
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

/*--------------------------------------------------------------
# Gallery Single Section
--------------------------------------------------------------*/
/* .gallery-single .portfolio-details-slider img {
  width: 100%;
}

.gallery-single .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.gallery-single .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}

.gallery-single .swiper-button-prev,
.gallery-single .swiper-button-next {
  width: 48px;
  height: 48px;
}

.gallery-single .swiper-button-prev:after,
.gallery-single .swiper-button-next:after {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.gallery-single .swiper-button-prev:hover:after,
.gallery-single .swiper-button-next:hover:after {
  background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 575px) {

  .gallery-single .swiper-button-prev,
  .gallery-single .swiper-button-next {
    display: none;
  }
}

.gallery-single .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  font-family: var(--font-secondary);
}

.gallery-single .portfolio-info h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-primary);
  left: 0;
  bottom: 0;
}

.gallery-single .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.gallery-single .portfolio-info ul li {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.gallery-single .portfolio-info ul strong {
  text-transform: uppercase;
  font-weight: 400;
  color: #6b7075;
  font-size: 14px;
}

.gallery-single .portfolio-info .btn-visit {
  padding: 8px 40px;
  background: var(--color-primary);
  color: #fff;
  border-radius: 50px;
  transition: 0.3s;
}

.gallery-single .portfolio-info .btn-visit:hover {
  background: var(--color-primary);
}

.gallery-single .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--color-default);
  font-family: var(--font-secondary);
}

.gallery-single .portfolio-description p {
  padding: 0;
}

.gallery-single .portfolio-description .programmer-item {
  padding: 30px 30px 0 30px;
  position: relative;
  background: var(--color-secondary);
  height: 100%;
  margin-bottom: 50px;
}

.gallery-single .portfolio-description .programmer-item .programmer-img {
  width: 90px;
  border-radius: 50px;
  border: 6px solid #2e3133;
  float: left;
  margin: 0 10px 0 0;
}

.gallery-single .portfolio-description .programmer-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0 5px 0;
  padding-top: 20px;
}

.gallery-single .portfolio-description .programmer-item h4 {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}

.gallery-single .portfolio-description .programmer-item .quote-icon-left,
.gallery-single .portfolio-description .programmer-item .quote-icon-right {
  color: var(--color-primary);
  font-size: 26px;
  line-height: 0;
}

.gallery-single .portfolio-description .programmer-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.gallery-single .portfolio-description .programmer-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
  transform: scale(-1, -1);
}

.gallery-single .portfolio-description .programmer-item p {
  font-style: italic;
  margin: 0 0 15px 0 0 0;
  padding: 0;
} */

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: var(--font-secondary);
}

#hero::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 130%;
  height: 95%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.904), rgba(0, 0, 0, 0.6)), url("../front.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
  border-radius: 0 0 50% 50%;
  transform: translateX(-50%) rotate(0deg);
}

#hero::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 130%;
  height: 96%;
  background: var(--color-secondary);
  opacity: 0.3;
  z-index: 0;
  border-radius: 0 0 50% 50%;
  transform: translateX(-50%) translateY(18px) rotate(2deg);
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h2 {
  color: var(--color-default);
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
  font-family: adam;
}

#hero p {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  color: var(--color-default);
  font-family: var(--font-default);
  font-weight: 500;
  margin-bottom: 40px;
  font-style: italic;
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

#hero .btn-get-started {
  font-weight: bold;
  font-family: var(--font-primary);
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: var(--color-default);
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid var(--color-default);
  background: url(../bg.jpg);
}

#hero .btn-get-started:hover {
  background: url(../bg.jpg);
  background-size: cover;
  border: 1px solid var(--color-default);
  color: white;
  text-decoration: none;
  font-weight: bolder;
  transform: scale(1.02);
}

@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-width: 768px) {
  #hero::after {
    width: 180%;
    height: 95%;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) rotate(0deg);
  }

  #hero::before {
    top: 0;
    width: 180%;
    height: 94%;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) translateY(20px) rotate(4deg);
  }
}

@media (max-width: 575px) {
  #hero h2 {
    font-size: 30px;
  }

  #hero::after {
    left: 40%;
    top: 0;
    width: 200%;
    height: 95%;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) rotate(0deg);
  }

  #hero::before {
    left: 50%;
    top: 0;
    width: 200%;
    height: 94%;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) translateY(20px) rotate(4deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 30px 0;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer .copyright {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.footer .credits {
  padding-top: 6px;
  text-align: center;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
}

.footer .credits a {
  color: var(--color-primary);
}


.btn-shine{
  background: linear-gradient(to right, #412a7a 0, #fff 10%, #412a7a 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 6s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  text-decoration: none;
  white-space: nowrap;
}

@keyframes shine{
  0%{background-position: 0;}
  60%{background-position: 200px;}
  100%{background-position: 0;}
  }

/*--------------------------------------------------------------
# Card
--------------------------------------------------------------*/

.card{
    background: none;
    font-family: var(--font-default);
}
.container-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.card-bg{
    position: absolute;
    width: 350px;
    height: 280px;
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: 0 0 5px var(--color-default);
}
.card-item{
    margin: 20px;        
    border-radius: 5px;     
    width: 350px;
    height: 280px;
    position: relative;
    transition: 0.5s;
}
.card-item:hover{
    position: relative; 
    border-radius: 5px;
    z-index: 999;
    transition: 0.5s;
}
.card-item:hover .hover{
    opacity: 1;
}
.card-item:hover .content-card{
    visibility: hidden;
    opacity: 0;
}
span:hover .card-bg{
  filter: blur(5px);
  transition: 0.5s;
}
.content-card{
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
}
.card-item .nama h3{
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: lighter;
    margin-top: 30px;
    font-family: var(--font-default);
}
.card-item .posisi{
    font-size: 12px;
}
.card-item .birth{
    margin-top: 140px;
    padding: 0;
}
.card-item .birth p{
    text-align: center;
    font-weight: 300;
    letter-spacing: 4px;
    font-size: 12px;
    padding: 5px;
}
.card .hover{
    display: flex;
    opacity: 0;
    transform: translate(0%, -170%);
    height: 10vh;
    justify-content: center;
    align-items: center;
}
.card .hover .quotes{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    filter: none;    
}
.hover .quotes i{
    font-size: 1.3em;
    color: var(--color-default);
}
.hover .quotes h3{
    font-family: var(--font-default);
    padding: 5px;
    font-style: italic;
    font-size: small;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    color: var(--color-default);
    font: 0.8em;
}  

#content-link{
  padding: 60px;
}